.button {
  height: var(--ui-height);
  border: 1px solid color(var(--foreground) shade(40%));
  color: color(var(--foreground) tint(80%));
  border-radius: var(--ui-radius);
  background-color: var(--foreground);
  background-image: linear-gradient(
    var(--foreground),
    color(var(--foreground) shade(20%))
  );
  box-shadow:
    inset 0 0 0 1px color(var(--foreground) tint(15%)),
    0 20px 40px color(var(--background) shade(40%));
  text-shadow: 0 -1px 0 #000;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(
    color(var(--foreground) tint(10%)),
    color(var(--foreground) shade(10%))
  );
}

.button:focus {
  box-shadow: 0 0 5px 0 var(--foreground);
}
